<ion-view>
  <ion-content>

    <div class="list list-inset">

      <div align="center">
        <table class="simply">
          <!-- Table header -->
          <!--<thead class="simply th">-->
          <!--<tr>-->
          <!--<th scope="col">#</th>-->
          <!--<th scope="col">Request</th>-->
          <!--<th scope="col">Status</th>-->
          <!--<th scope="col">Delete</th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!-- Table body -->
          <tbody class="simply tbody">
          <tr ng-repeat="shoppingCart in shoppingCarts">
            <td>{{$index+1}}</td>
            <td>{{shoppingCart.id}}</td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>

  </ion-content>
</ion-view>
