<ion-view>
  <ion-content ng-controller="shoppingListController">

    <div class="list">
      <div align="center">
        <p>Input the User Id and Video Id</p>
        <p> for The valid payment</p>
      </div>
      <label class="item item-input item-floating-label">
        <p style="margin-left: 18px;">User Id</p>
        <span style="margin-left: 40px; color: black" class="input-label">User Id</span>
        <div align="center">
          <input style="border: solid 1px black; width: 90%; padding: 5px" type="text" placeholder="User Id"
                 ng-model="purchased.userId">
        </div>
      </label>
      <label class="item item-input item-floating-label">
        <p style="margin-left: 18px;">Video Id</p>
        <span style="margin-left: 40px; color: black" class="input-label">Video Id</span>
        <div align="center">
          <input style="border: solid 1px black; width: 90%; padding: 5px" type="text" placeholder="Video Id"
                 ng-model="purchased.videoId">
        </div>
      </label>
      <div align="center">
        <button type="submit" class="overDiv button button-block icon button-assertive"
                style="width: 50%;"
                ng-click="purchased()">
          Submit
        </button>
      </div>
    </div>

    <div class="list list-inset">
      <div>
        <div align="left">
          <ion-item style="padding: 10px" class="item item-complex" ng-repeat="transaction in transactions">
            <p>Confirm Payment: {{transaction.id}}</p>
            <p style="background-color: #0a9dc7">User Id: {{transaction.users[0].id}}</p>
            <p>Email: {{transaction.confirmEmail}}</p>
            <p>Time: {{transaction.confirmTime}}</p>
            <p>Money: {{transaction.confirmMoney}}</p>
            <p>Secret Id: {{transaction.confirmSecretId}}</p>
            <p style="background-color: #0a9dc7">Video Id: {{transaction.users[0].payments[0].videos[0].id}}</p>
            <p>Video Name: {{transaction.users[0].payments[0].videos[0].name}}</p>
          </ion-item>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
