<ion-view view-title="Fit-Up">
  <ion-content>

    <div class="list list-inset">

      <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="name"/>
        </label>
        <button class="button button-dark" ng-click="searchProduct(name)">
          Search
        </button>
      </div>

      <hr>

      <div align="center">
        <table class="simply">
          <!-- Table header -->
          <thead class="simply th">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Information</th>
            <th scope="col"></th>
            <th scope="col">Edit/Delete</th>
          </tr>
          </thead>
          <!-- Table body -->
          <tbody class="simply tbody">
          <tr ng-repeat="fitUpInfo in infos">
            <td>{{$index+1}}</td>
            <td>{{fitUpInfo.name}}</td>
            <td>{{fitUpInfo.description}}</td>
            <td>
              <button class="ion-close" ng-click="adminDeleteInfo(fitUpInfo.id)"></button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ion-content>
</ion-view>
