<ion-view view-title="Fit-Up">
  <ion-content class="padding BgEdiitt">

    <div class="list list-inset BgEdiitt modal">

      <form name="editform" novalidate flow-init>

        <div class="list list-inset BgEdiitt">
          <div class="list LabelSmooth boundary">
            <div class="form-group">
              <div ng-repeat="file in $flow.files">
                <!--<div><img flow-img="$flow.files[{{$index}}]" class="thumbnail"/></div>-->
                {{file.name}}<br>
                <a class="ion-close-circled" href="" style="margin: 10px" ng-click="$flow.cancel()">
                  Cancel
                </a>
              </div>
              <div>
                <button ng-hide="$flow.getSize()!=0" type="file" class="button button-positive button-small" flow-btn>Select Video
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="item item-input banner-info">
              <input type="text" id="videoName" name="videoName" placeholder="Name" ng-model="vm.video.name"
                     maxlength="50" required/>
            </label>
          </div>
          <div class="form-group">
            <label class="item item-input banner-info">
              <input type="text" id="description" name="description" placeholder="Description"
                     ng-model="vm.video.description"
                     maxlength="50" required/>
            </label>
          </div>
          <br>
          <label style="color: white;" for="Select"> Select = </label>
          <select name="Select" id="Select" ng-model="vm.video.price">
            <option ng-repeat="option in price.availableOptions" value="{{option.id}}">{{option.name}} THB.
            </option>
          </select>

          <br>
          <button class="button button-block button-positive" ng-click="vm.addVideo($flow)">Upload Video</button>
        </div>

      </form>

    </div>

  </ion-content>
</ion-view>
