<ion-view ng-controller="editVideoController">
  <ion-content class="padding">
    <h2>Edit Video Content</h2>

    <form name="editform" novalidate flow-init ng-controller="addVideoController">
      <div class="list list-inset">

        <div class="form-group">
          <td>
            <div ng-repeat="videoClip in videos.videoClip" class="text-center">
              <img ng-src="data:{{videoClip.contentType}};base64,{{videoClip.content}}" class="thumbnail">
              <a><span class="ion-close-circled" ng-click="deleteVideo(videoClip.id)"></span></a>
            </div>
          </td>
        </div>

        <div class="form-group">
          <P><b>Name</b></P>
          <label class="item item-input">
            <input type="text" id="name" name="name" ng-model="videos.name" required/>
          </label>
        </div>

        <div class="form-group">
          <P><b>Description</b></P>
          <label class="item item-input">
            <input type="text" id="description" name="description" ng-model="videos.description" required/>
          </label>
        </div>

        <div class="form-group">
          <P><b>Price</b></P>
          <label class="item item-input">
            <input type="text" id="price" name="price" ng-model="videos.price" disabled required/>
          </label>
        </div>
        <br>
        <div>
          <P><b>Change Price</b></P>
          <label for="Select"> Select = </label>
          <select name="Select" id="Select" ng-model="videos.price">
            <option ng-repeat="option in price.availableOptions" value="{{option.id}}">{{option.name}} THB.
            </option>
          </select>
        </div>

        <br style="margin-top: 30px">

        <button class="button button-block button-positive" ng-click="editVideo($flow)">Edit</button>


      </div>

    </form>

  </ion-content>
</ion-view>
