<ion-view>
  <ion-content class="padding">

    <div align="center">
      <div class="modal" style="height: 700px">

        <div class="list LabelSmooth boundary">
          <br>
          <P><b style="font-size: 20px">Nowadays</b>, more people<br> have given their interests on health for
            somereason.<br> Although gyms or decent
            sports places are pricey, people still invest their money in it.<br> From this point, it helps health
            businesses significantly increased within a short time.<br> However, there are people who do not have
            sufficient time and money to do so.<br> For this reason, they would have nothing to encourage them to
            exercise.<br> Otherwise, they would have to search information by themselves.<br></P>
          <br>
          <p>Regarding the people who push themselves to exercise on their own,<br> there are plenty of accessible
            information and resources provided online.<br> Our project, Fit-Up application, consists of valuable
            information and suggestion<br> such as advice articles and video courses provided from specialists and
            trainers to help people gain the correct healthy routine as desire.<br></p>
          <br>
          <p>Fit-Up application is available as both the Web and Hybrid application.<br> We allow people to explore
            fitness courses and purchase breathtaking videos that fit themselves.<br> On the other hand, we also let
            trainers upload information and videos to the platform.</p>
        </div>
      </div>

  </ion-content>
</ion-view>
