<ion-view>
  <ion-content ng-controller="listUserController">

    <div class="list list-inset">
      <div align="center">
        <table class="simply">
          <item>
            <tr ng-repeat="favorite in user.favorites">
              <td>
                <video controls width="70%" height="auto">
                  <source src="{{'templates/video/' +favorite.videos[0].videoClips[0].fileName}}" type='video/mp4'>
                </video>
                <br>
                <br>
                <p>Video Name:&nbsp;{{favorite.videos[0].name}}</p>
                <p class="over overflow-ellipsis">Video Description:{{favorite.videos[0].description}}</p>
              </td>
              <td></td>
            </tr>
          </item>

        </table>
      </div>

    </div>

  </ion-content>
</ion-view>

