<ion-view>
  <ion-content class="Wall">

    <div style="width: 100%" class="item-input-inset">
      <label style="width: 100%" class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input style="width: 100%" type="search" placeholder="Search" ng-model="name"/>
      </label>
    </div>

    <hr>

    <div class="list animated bounceInDown">
      <a class="overDivs item item-thumbnail-left" ng-repeat="fitUpInfo in infos | filter:name"
         ng-href="#/app/informationExpand/{{fitUpInfo.id}}">
        <img ng-repeat="imageFitUpInfo in fitUpInfo.imageInfos"
             ng-src="data:{{imageFitUpInfo.contentType}};base64,{{imageFitUpInfo.content}}">
        <h2>{{fitUpInfo.name}}</h2>
        <p class="over overflow-ellipsis">{{fitUpInfo.description}}</p>
        <!--<p style="color: red">Read More...</p>-->
      </a>
    </div>

    <br>

  </ion-content>
</ion-view>
