<ion-view>
  <ion-content class="padding BgLogin" ng-controller="LoginController">

    <div align="center">
      <!--<div class="modal"-->
           <!--style="background-color: #9e9e9e;height: 430px; border-radius: 10px; opacity: 0.6">-->

        <div class="list LabelSmooth boundary">
          <div align="center">
            <h2 style="color: white">Login</h2>
          </div>
          <div class="BorderImg"></div>

          <br>
          <br>

          <div class="LabelSmooth" style="width: 95%;background-color: white">
            <label class="item item-input LabelSmooth">
              <input type="text" placeholder="Username" ng-model="username" ng-minlength="4" ng-maxlength="20"
                     ng-pattern="/^[a-zA-Z0-9]*$/" required>
            </label>
          </div>

          <br>

          <div class="LabelSmooth" style="width: 95%;background-color: white">
            <label class="item item-input LabelSmooth">
              <input type="password" placeholder="Password" ng-model="password" ng-minlength="4" ng-maxlength="20"
                     required>
            </label>
          </div>

          <br>

          <div style="margin-left: 50%">
            <a ng-href="#/app/setPassword">Help ? </a>
          </div>

          <br>
          <div align="center" style="font-size: 18px; color: white">
            -------login account-------
          </div>
          <div align="center">
            <button class="overDiv button button-block icon ion-ios-unlocked-outline button-assertive"
                    style="width: 80%"
                    ng-click="login()">&nbsp;&nbsp;
              login
            </button>
          </div>
        </div>
      <!--</div>-->
    </div>

  </ion-content>
</ion-view>

