<ion-side-menus enable-menu-with-back-views="true">

  <ion-side-menu-content edge-drag-threshold="false"
                         drag-content="false">
    <ion-nav-bar class="bar-dark">
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">

        <!--<div style="margin: 6px">-->
        <!--{{user.username}}-->
        <!--</div>-->

        <div style="margin-top: -8%; " ng-repeat="image in user.images"
             class="thumbnailCircless">
          <img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnailImgsss">
        </div>
        <!--<div style="border: solid 1px cadetblue" class="button button-dark overDivvv item-divider colorMenu"-->
        <!--ng-show="user" ng-click="logout()">-->
        <!--Log Out-->
        <!--</div>-->
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
      <h1 class="title">Menu</h1>
    </ion-header-bar>

    <ion-content>
      <ion-list>

        <div ng-show="user">
          <div class="item item-divider wal font-sizeInAppPli colorMenuu">
            <a class="ion-ios-gear dark" href="#/app/edituser"></a>
            Edit Profile
          </div>

          <div align="right">
            <div class="item item-divider Wall">
              <div align="center" class="text-center profileUser">
                <div align="center">
                  <div style="margin-top: -5%" ng-repeat="image in user.images"
                       class="thumbnailCircles">
                    <img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnailImgs">
                  </div>
                  <p style="color: black">{{user.username}}</p>
                </div>
                <!--<h5><b>Status</b><br> {{user['roles'][0]['roleName']}}</h5>-->
                <!--<h5><b>Email</b>: {{user.email}}</h5>-->
                <!--<button-->
                <!--style="font-size: larger; width: 100px; -moz-border-radius: 5em; margin-left: 2em; border-radius: 10px / 20px;"-->
                <!--class="button button-small">"{{user.username}}"-->
                <!--</button>-->
              </div>
            </div>
          </div>

          <!--<div align="center" class="text-center profileUser">-->
          <!--<div align="center">-->
          <!--<div style="float: left" ng-repeat="image in user.images" class="thumbnailCircles">-->
          <!--<img ng-src="data:{{image.contentType}};base64,{{image.content}}" class="thumbnailImgs">-->
          <!--</div>-->
          <!--</div>-->
          <!--<h5><b>Welcome</b><br> "{{user.username}}" </h5>-->
          <!--<h5><b>Status</b><br> {{user['roles'][0]['roleName']}}</h5>-->
          <!--&lt;!&ndash;<h5><b>Email</b>: {{user.email}}</h5>&ndash;&gt;-->
          <!--<br>-->
          <!--</div>-->
        </div>

        <div class="item item-divider colorMenuu">
          User Menu
        </div>
        <ion-item menu-close class="item item-icon-left item-icon-right font-sizeInAppPli" href="#/app/login"
                  ng-hide="user">
          <i class="icon ion-ios-person"></i>
          Login
          <i class="icon ion-ios-arrow-right button-small"></i>
        </ion-item>
        <ion-item menu-close class="item item-icon-left item-icon-right font-sizeInAppPli" href="#/app/register"
                  ng-hide="user">
          <i class="icon ion-ios-personadd"></i>
          Register
          <i class="icon ion-ios-arrow-right button-small"></i>
        </ion-item>
        <!--<ion-item class="item item-icon-left item-icon-right" menu-close href="#/app/board">-->
        <!--<i class="icon ion-android-folder"></i>-->
        <!--Information-->
        <!--<i class="icon ion-ios-arrow-right button-small"></i>-->
        <!--</ion-item>-->
        <ion-item class="item item-icon-left item-icon-right font-sizeInAppPli" menu-close href="#/app/video">
          <i class="icon ion-ios-home"></i>
          Home
          <i class="icon ion-ios-arrow-right button-small"></i>
        </ion-item>
        <ion-item class="item item-icon-left item-icon-right font-sizeInAppPli" ng-show="hasRole('member')" menu-close
                  href="#/app/favorite">
          <i class="icon ion-heart"></i>
          My Favorite
          <i class="icon ion-ios-arrow-right button-small"></i>
        </ion-item>
        <ion-item class="item item-icon-left item-icon-right font-sizeInAppPli" ng-show="hasRole('member')" menu-close
                  href="#/app/payment">
          <i class="icon ion-ios-cart"></i>
          Shopping Cart
          <i class="icon ion-ios-arrow-right button-small"></i>
        </ion-item>

        <!--<div ng-show="hasRole('trainer')">-->
          <!--<div class="item item-divider colorMenuu font-sizeInAppPli">-->
            <!--Trainer Menu-->
          <!--</div>-->

          <!--<div align="center" ng-controller="ctrlController">-->

          <!--<ion-item class="row">-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-100 button-small"-->
          <!--ng-click="uploadVideo()">Upload Video-->
          <!--</button>-->
          <!--</ion-item>-->

          <!--<ion-item class="row">-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-100 button-small"-->
          <!--ng-click="VideoHis()">Video-->
          <!--History-->
          <!--</button>-->
          <!--</ion-item>-->

          <!--<ion-item class="row">-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-100 button-small"-->
          <!--ng-click="UploadInfo()">Upload-->
          <!--Info-->
          <!--</button>-->
          <!--</ion-item>-->

          <!--<ion-item class="row">-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-100 button-small"-->
          <!--ng-click="InfoHis()">Info-->
          <!--History-->
          <!--</button>-->
          <!--</ion-item>-->

          <!--<ion-item class="row" menu-close>-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-50 button button-dark button-small"-->
          <!--ng-click="UploadInfo()">Upload-->
          <!--Info-->
          <!--</button>-->
          <!--<button style="opacity: 0.6; padding: 1em" class="overDivvv col col-50 button button-dark button-small"-->
          <!--ng-click="InfoHis()">Info-->
          <!--History-->
          <!--</button>-->
          <!--</ion-item>-->
          <!--</div>-->

        <!--&lt;!&ndash;<ion-item menu-close href="#/app/addVideo">&ndash;&gt;-->
        <!--&lt;!&ndash;Upload Video&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-item menu-close href="#/app/listVideo">&ndash;&gt;-->
        <!--&lt;!&ndash;Video History&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-item menu-close href="#/app/listInformation">&ndash;&gt;-->
        <!--&lt;!&ndash;Information History&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-item menu-close href="#/app/addInformation">&ndash;&gt;-->
        <!--&lt;!&ndash;Upload Information&ndash;&gt;-->
        <!--&lt;!&ndash;</ion-item>&ndash;&gt;-->

        <!--</div>-->

        <div ng-show="hasRole('admin')">
          <div class="item item-divider colorMenu font-sizeInAppPli">
            Admin Menu
          </div>
          <ion-item menu-close href="#/app/management" class="font-sizeInAppPli">
            System management
          </ion-item>
        </div>

        <div align="center">
          <div class="item item-divider colorMenu font-sizeInAppPli" ng-show="user">
            <ion-item menu-close ng-click="logout()">
              Log Out &nbsp;&nbsp;<i class="icon ion-log-out" style="font-size:30px"></i>
            </ion-item>
          </div>
        </div>

      </ion-list>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
