<ion-view>
  <ion-content ng-controller="listUserController">

    <form name="payment" novalidate>
      <div class="list list-inset" ng-controller="shoppingListController">

        <div align="center" ng-controller="dateController">
          <table class="simply">
            <!--&lt;!&ndash; Table header &ndash;&gt;-->
            <!--<thead class="simply th">-->
            <!--<tr>-->
            <!--<th scope="col">Cart</th>-->
            <!--<th scope="col"></th>-->
            <!--<th scope="col"></th>-->
            <!--</tr>-->
            <!--</thead>-->
            <!-- Table body -->
            <tbody class="simply tbody">
            <tr ng-repeat="shopping in user.payments | filter: name">
              <td style="margin-top: 20px">
                <a class="icon-left ion-ios-close-outline" ng-href="#" ng-click="deletePayment(shopping.id)">Delete</a>
                <br>
                <br>
                <p><b>Payment ID</b></p>
                <p>{{shopping.purchaseDate}}-{{shopping.id}}</p>
                <p><b>Username.</b> {{user.username}}</p>
                <p><b>Email.</b> {{user.email}}</p>
                <p>{{ today | date : "fullDate" }}</p>
                <p><b>Video Name</b> {{shopping.videos[0].name}}</p>
                <p><b>Video Price</b> {{shopping.videos[0].price}} THB.</p>
              </td>
              <td>
                <p style="color: black">Confirm payment Email</p>
                <input style="width: 95%; padding: 5px" type="email" name="cEmail" ng-model="transaction.confirmEmail"
                       placeholder="Confirm Email" required>
                <p style="color: black">Confirm payment time</p>
                <input style="width: 95%; padding: 5px" type="text" name="cTime" ng-model="transaction.confirmTime"
                       placeholder="Confirm Time" required>
                <p style="color: black">Confirm payment money</p>
                <input style="width: 95%; padding: 5px" type="text" name="cMoney" ng-model="transaction.confirmMoney"
                       placeholder="Confirm amount of money" required>
                <p style="color: black">Confirm secret Id</p>
                <input style="width: 95%; padding: 5px" type="text" name="cSecret"
                       ng-model="transaction.confirmSecretId"
                       placeholder="Confirm secret Id" required>
                <br>
                <div align="center">
                  <button class="button button-block icon button-assertive"
                          style="width: 70%" type="submit" ng-disabled="payment.$invalid"
                          ng-click="confirmPayment()">Submit
                  </button>
                </div>
                <!--<input type="image"-->
                <!--src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"-->
                <!--name="submit"-->
                <!--alt="Make payments with PayPal - it's fast, free and secure!" ng-click="paypal()">-->
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
