<ion-view>
  <ion-content ng-controller="listUserController">

    <form action="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_account" method="post">
      <div class="list list-inset" ng-controller="shoppingListController">

        <div align="center" ng-controller="dateController">
          <table class="simply">
            <!-- Table header -->
            <thead class="simply th">
            <tr>
              <th scope="col">Cart</th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
            </thead>
            <!-- Table body -->
            <tbody class="simply tbody">
            <tr ng-repeat="shopping in user.shoppingCarts | filter: name">
              <td style=" float: left;margin-top: 20px">
                <p><b>Payment ID</b></p>
                <p>{{shopping.purchaseDate}}-{{shopping.id}}</p>
                <p><b>Username.</b> {{user.username}}</p>
                <p><b>Email.</b> {{user.email}}</p>
                <p>{{ today | date : "fullDate" }}</p>
                <p><b>Video Name</b>{{shopping.videos[0].name}}</p>
                <p><b>Video Price</b> {{shopping.videos[0].price}} THB.</p>
              </td>
              <td></td>
              <td style=" float: right;margin-top: 20px; padding: 10px">
                <input type="image"
                       src="http://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"
                       name="submit"
                       alt="Make payments with PayPal - it's fast, free and secure!">
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>

  </ion-content>
</ion-view>
