<ion-view>
  <ion-content class="BgLogin" ng-controller="ctrlController">


    <form name="signupForm" ng-submit="createUser(signupForm)" class="list no-margin" novalidate flow-init>
      <br style="margin-top: 30px">
      <div align="center">
        <div ng-repeat="file in $flow.files" class="text-center" align="center">
          <div><img flow-img="$flow.files[{{$index}}]" class="thumbnailRegis thumbnailRegisImg"></div>
          <a class="ion-close-circled" style="cursor: pointer; margin: 2px" ng-click="$flow.cancel()" type="file"></a>
        </div>

        <button ng-hide="$flow.getSize()!=0" class="thumbnailRegis thumbnailRegisImg"
                style="font-size: 1em; cursor: pointer; opacity: 0.7"
                aria-disabled="true" type="file"
                flow-btn>
          Upload Picture
        </button>
      </div>

      <br style="margin-top: 5px">

      <ion-input class="item-input item-stacked-label"
                 ng-class="{ 'has-errors' : signupForm.username.$invalid && signupForm.$submitted,
        'no-errors' : signupForm.username.$valid && signupForm.$submitted}">
        <ion-label style="margin-left: 30px">Username</ion-label>
        <div align="center">
          <input style="width: 95%; height: 40px; padding: 5px" type="text" name="username" placeholder="Username"
                 ng-model="vm.user.username"
                 ng-minlength="4"
                 ng-maxlength="20" required>
        </div>
      </ion-input>

      <div class="error-container" ng-show="signupForm.username.$error && signupForm.$submitted"
           ng-messages="signupForm.username.$error">
        <div class="error" ng-show="signupForm.username.$invalid && !signupForm.username.$pristine">
          <i class="ion-information-circled"></i>
          require username
        </div>
        <div class="error" ng-show="signupForm.username.$invalid && !signupForm.username.$pristine">
          <i class="ion-information-circled"></i>
          username invalid form
          <p>[ required 4-20 characters ]</p>
        </div>
      </div>

      <ion-input class="item-input item-stacked-label"
                 ng-class="{ 'has-errors' : signupForm.email.$invalid && signupForm.$submitted,
        'no-errors' : signupForm.email.$valid && signupForm.$submitted}">
        <ion-label style="margin-left: 30px">Email</ion-label>
        <div align="center">
          <input style="width: 95%; height: 40px; padding: 5px" type="email" name="email" placeholder="email" ng-model="vm.user.email"
                 required>
        </div>
      </ion-input>

      <div class="error-container" ng-show="signupForm.email.$error && signupForm.$submitted"
           ng-messages="signupForm.email.$error">
        <div class="error" ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">
          <i class="ion-information-circled"></i>
          require email
          <p>[ Ex. user@emal.com ]</p>
        </div>
        <div class="error" ng-show="signupForm.email.$invalid && !signupForm.email.$pristine">
          <i class="ion-information-circled"></i>
          email invalid form
        </div>
      </div>

      <ion-input class="item-input item-stacked-label"
                 ng-class="{ 'has-errors' : signupForm.password.$invalid && signupForm.$submitted,
        'no-errors' : signupForm.password.$valid && signupForm.$submitted}">
        <ion-label style="margin-left: 30px;">Password</ion-label>
        <div align="center">
          <input style="width: 95%; height: 40px; padding: 5px" type="password" name="password" placeholder="Password"
                 ng-model="vm.user.password"
                 ng-minlength="4"
                 ng-maxlength="20" required>
        </div>
      </ion-input>

      <div class="error-container" ng-show="signupForm.password.$error && signupForm.$submitted"
           ng-messages="signupForm.password.$error">
        <div class="error" ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">
          <i class="ion-information-circled"></i>
          require password
        </div>
        <div class="error" ng-show="signupForm.password.$invalid && !signupForm.password.$pristine">
          <i class="ion-information-circled"></i>
          [ required 4-20 characters ]
        </div>
      </div>

      <br>
      <div align="center" style="font-size: 18px; color: white">
        -------Create account-------
      </div>
      <div align="center">
        <ion-input class="item-input padding" style="width: 70%">
          <input style="border-radius: 5px" type="submit"
                 class="overDiv button button-block icon ion-ios-unlocked-outline button-assertive"
                 value="Create Account" ng-click="vm.register($flow)"
                 ng-disabled="signupForm.$invalid && signupForm.$submitted">
        </ion-input>
      </div>
      <br style="margin-top: 40px">
    </form>

  </ion-content>
</ion-view>
