<ion-view>
  <ion-content class="padding BgEdiitt" ng-controller="listVideoController">

    <div style="width: 100%" class="item-input-inset">
      <label style="width: 100%" class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input style="width: 100%" type="search" placeholder="Search" ng-model="name"/>
      </label>
    </div>

    </div>
    <hr style="border-color: red">

    <div class="list card" style="border-radius: 0.5em" ng-repeat="video in videos">
      <div class="item item-avatar" ng-controller="listUserController">

        <img style="background-color: #2B333F">
        <h2>{{video.name}}</h2>
        <p>{{video.price}} THB.</p>
        <!--<p>{{video.videoClips[0].fileName}}</p>-->
        <div align="left" ng-show="hasRole('member')">
          <p>
            <a ng-show="user" style="width: 5em; font-size: small; cursor: pointer;"
               ng-click="addToFavorite(video)">Save to List <i class="ion-heart ion-large"></i>
            </a>
          </p>
          <div align="right" ng-show="hasRole('member')">
            <button ng-show="user" style="width: 5em; margin-top: -62px; font-size: small"
                    class="overDivvv button button-dark button-small"
                    ng-click="addToCart(video)">Buy
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="item item-body" style="height: 50%">
        <div align="center">
          <video controls width="80%" height="50%">
            <source src="{{'templates/video/' +video.videoClips[0].fileName}}" type='video/mp4'>
          </video>
          <p>{{video.description}}</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>

