<ion-view>
  <ion-content class="padding BgEdiitt" ng-controller="listVideoController">

    <div style="width: 100%" class="item-input-inset">
      <label style="width: 100%" class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input style="width: 100%" type="search" placeholder="Search" ng-model="name"/>
      </label>
    </div>

    </div>
    <hr style="border-color: red">

    <div class="list card" style="border-radius: 0.5em" ng-repeat="video in videos">
      <div class="item item-avatar" ng-controller="listUserController">

        <img style="background-color: #2B333F">
        <h2>{{video.name}}</h2>
        <p>{{video.price}} THB.</p>
        <!--<p>{{video.videoClips[0].fileName}}</p>-->
        <div align="left" ng-show="hasRole('member')">
          <p>
            <a ng-show="user" style="width: 5em; font-size: small; cursor: pointer;"
               ng-click="addToFavorite(user)">Like <i class="ion-heart ion-large"></i>
            </a>
          </p>
          <div align="right" ng-show="hasRole('member')">
            <button ng-show="user" style="width: 5em; margin-top: -62px; font-size: small"
                    class="overDivvv button button-dark button-small"
                    ng-click="addToCart(video)">Buy
            </button>
          </div>
        </div>
      </div>
      <hr>
      <div class="item item-body" style="height: 250px">
        <div align="center">
          <video controls width="80%" height="auto">
            <source src="{{'templates/video/' +video.videoClips[0].fileName}}" type='video/mp4'>
          </video>
          <p>{{video.description}}</p>
        </div>
      </div>
    </div>

    <!--Mock Video from youtube 1-->
    <div class="list card" style="border-radius: 0.5em">
      <div class="item item-avatar">
        <img style="background-color: #2B333F">
        <h2>Kungs vs Cookin</h2>
        <p>- THB.</p>
        <!--<p>This Girl</p>-->
      </div>
      <hr>
      <div class="item item-body" style="height: 250px">
        <div align="center">
          <iframe width="80%" height="auto" src="https://www.youtube.com/embed/EZVQLzOUZG4" frameborder="0"
                  allowfullscreen></iframe>
          <p>Fitness HipNThigh Excercise</p>
        </div>

      </div>
    </div>
    <!--Mock Video from youtube 2-->
    <div class="list card" style="border-radius: 0.5em">
      <div class="item item-avatar">
        <img style="background-color: #2B333F">
        <h2>An Introduction to ra'yoKa by Rainbeau Mars</h2>
        <p>- THB.</p>
        <!--<p>This Girl</p>-->
      </div>
      <hr>
      <div class="item item-body" style="height: 250px">
        <div align="center">
          <iframe width="80%" height="auto" src="https://www.youtube.com/embed/sU_EHvXUjx0" frameborder="0"
                  allowfullscreen></iframe>
          <p>www.rayoka.com
            ra'yoKa uses breath centered flow and yoga therapeutics and enhances it with martial arts movement and
            core conditioning so you can improve your core and muscle groups while enhancing our flexibility.</p>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>

