<ion-view view-title="Fit-Up">
  <ion-content class="padding BgEdiitt" ng-controller="listVideoController">

    <div style="width: 100%" class="item-input-inset">
      <label style="width: 100%" class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input style="width: 100%" type="search" placeholder="Search" ng-model="name"/>
      </label>
    </div>

    </div>
    <hr style="border-color: red">

    <!--Mock Video from youtube 1-->
    <div class="list card" style="border-radius: 0.5em">
      <div class="item item-avatar">
        <img style="background-color: #2B333F">
        <h2>Kungs vs Cookin</h2>
        <p>Free THB.</p>
        <!--<p>This Girl</p>-->
      </div>

      <div class="item item-body">
        <div align="center">
          <iframe width="260" height="auto" src="https://www.youtube.com/embed/EZVQLzOUZG4" frameborder="0"
                  allowfullscreen></iframe>
          <div align="left">
            <p>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToFavorite(user)">List <i class="ion-heart ion-large"></i>
              </button>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToCart(user)">Buy
              </button>
            </p>
            <p>Fitness HipNThigh Excercise</p>
          </div>
        </div>

      </div>
    </div>
    <!--Mock Video from youtube 2-->
    <div class="list card" style="border-radius: 0.5em">
      <div class="item item-avatar">
        <img style="background-color: #2B333F">
        <h2>An Introduction to ra'yoKa by Rainbeau Mars</h2>
        <p>Free THB.</p>
        <!--<p>This Girl</p>-->
      </div>

      <div class="item item-body">
        <div align="center">
          <iframe width="300" height="auto" src="https://www.youtube.com/embed/sU_EHvXUjx0" frameborder="0"
                  allowfullscreen></iframe>
          <div align="left">
            <p>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToFavorite(user)">Like <i class="ion-heart ion-large"></i>
              </button>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToCart(user)">Buy
              </button>
            </p>
            <p>www.rayoka.com
              ra'yoKa uses breath centered flow and yoga therapeutics and enhances it with martial arts movement and
              core conditioning so you can improve your core and muscle groups while enhancing our flexibility.</p>
          </div>
        </div>

      </div>
    </div>
    <!--Mock Video from youtube 3-->
    <div class="list card" style="border-radius: 0.5em">
      <div class="item item-avatar">
        <img style="background-color: #2B333F">
        <h2>Dancercise Kids</h2>
        <p>Free THB.</p>
        <!--<p>This Girl</p>-->
      </div>

      <div class="item item-body">
        <div align="center">
          <iframe width="300" height="auto" src="https://www.youtube.com/embed/R4BNW_tveeo" frameborder="0"
                  allowfullscreen></iframe>
          <div align="left">
            <p>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToFavorite(user)">Like <i class="ion-heart ion-large"></i>
              </button>
              <button ng-show="user" style="width: 5em; font-size: small"
                      class="overDivvv button button-dark button-small"
                      ng-click="addToCart(user)">Buy
              </button>
            </p>
            <p>Dancercise Jam</p>
          </div>
        </div>

      </div>
    </div>


    <!--<div class="list card" style="border-radius: 0.5em" ng-repeat="video in videos">-->
    <!--<div class="item item-avatar">-->
    <!--<img style="background-color: #2B333F">-->
    <!--<h2>{{video.name}}</h2>-->
    <!--<p>{{video.price}} THB.</p>-->
    <!--<p>{{video.videoClips[0].fileName}}</p>-->
    <!--</div>-->

    <!--<div class="item item-body">-->
    <!--<div align="center">-->
    <!--<video controls width="560" height="315">-->
    <!--<source src="{{'templates/video/' +video.videoClips[0].fileName}}" type='video/mp4'>-->
    <!--</video>-->
    <!--<div align="left">-->
    <!--<p>-->
    <!--<button ng-show="user" style="width: 5em; font-size: small"-->
    <!--class="overDivvv button button-dark button-small"-->
    <!--ng-click="addToFavorite(user)">Like <i class="ion-heart ion-large"></i>-->
    <!--</button>-->
    <!--<button ng-show="user" style="width: 5em; font-size: small"-->
    <!--class="overDivvv button button-dark button-small"-->
    <!--ng-click="addToCart(user)">Buy-->
    <!--</button>-->
    <!--</p>-->
    <!--<p>{{video.description}}</p>-->
    <!--</div>-->
    <!--</div>-->

    <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>

